{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "plugins": [],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "global-require": "warn",
    "no-underscore-dangle": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "import/prefer-default-export": "off"
  }
}
