.overview-content {
  padding: 16px 16px;
  margin-top: 16px; }
  @media only screen and (min-width: 992px) {
    .overview-content {
      padding: 32px 32px; } }
  @media (min-width: 1800px) {
    .overview-content {
      padding: 32px 80px; } }
  .overview-content #title {
    color: #595959;
    font-weight: 700;
    font-family: 'Sailec-Regular';
    font-size: 28px;
    margin-bottom: 16px; }
  .overview-content .container {
    padding-top: 16px; }
    .overview-content .container .ant-card-body .ant-spin-spinning {
      position: absolute;
      left: 50%;
      top: 50%; }
      .overview-content .container .ant-card-body .ant-spin-spinning .ant-spin-dot-spin .ant-spin-dot-item {
        background-color: #CA0000; }
    .overview-content .container .ant-card-body #label {
      font-size: 24px;
      color: #CA0000;
      font-weight: 600;
      font-family: 'Sailec-Regular'; }
    .overview-content .container .ant-card-body .ant-row-flex {
      margin-top: 16px; }
      .overview-content .container .ant-card-body .ant-row-flex .ant-col {
        margin-top: 8px; }
        .overview-content .container .ant-card-body .ant-row-flex .ant-col .ant-rate {
          color: #CA0000;
          margin-right: 8px; }
        .overview-content .container .ant-card-body .ant-row-flex .ant-col .ant-statistic .ant-statistic-content {
          color: #595959; }
