.profile-container {
  padding: 32px 32px;
  text-align: center;
  min-height: 75vh !important; }

.profile-container #name {
  margin: 16px 0 8px 0;
  font-family: 'Sailec-Regular';
  font-weight: 600;
  font-size: 20px; }

.profile-container #location {
  font-family: 'Sailec-Light';
  font-size: 14px; }

.profile-container #location .anticon-environment {
  color: #CA0000; }

.profile-container .profile-menu {
  margin: 16px 0;
  font-family: 'Sailec-Regular';
  font-size: 16px; }

.profile-container .profile-menu .ant-menu-item-selected {
  color: #CA0000 !important;
  border-bottom: 2px solid #CA0000 !important; }

.profile-container .profile-menu .ant-menu-item:hover {
  color: #CA0000 !important;
  border-bottom: 2px solid #CA0000 !important; }

.profile-container .profile-menu .ant-menu-item-disabled, .profile-container .profile-menu .ant-menu-item-disabled:hover {
  color: rgba(0, 0, 0, 0.25) !important;
  border-color: transparent !important; }

.profile-container .abt-me {
  margin: 32px 0 0 0;
  padding: 0 16px;
  font-family: 'Sailec-Regular';
  font-weight: 500;
  text-align: justify; }

.profile-container .abt-me .ant-collapse .ant-collapse-header {
  color: #595959;
  font-weight: 500;
  font-size: 16px; }

.profile-container .abt-me .ant-collapse .bio-panel .ant-collapse-content, .profile-container .abt-me .ant-collapse .links-panel .ant-collapse-content {
  padding: 16px 16px; }

.profile-container .abt-me .ant-collapse .links-panel #no-info {
  text-align: center; }

.profile-container .abt-me .ant-collapse .links-panel a .anticon {
  color: #CA0000;
  font-size: 28px;
  margin: 0 8px; }

@media only screen and (max-width: 480px) {
  .profile-container {
    padding: 24px 0; } }

@media (min-width: 1200px) {
  .profile-container .abt-me .ant-collapse .ant-collapse-content-box {
    font-size: 16px; } }

@media (min-width: 1800px) {
  .profile-container .abt-me .ant-collapse {
    padding: 32px 64px; }
  .profile-container .abt-me .ant-collapse .ant-collapse-content-box {
    padding: 32px 32px;
    font-size: 16px; } }
