// a {
//   color: #36d1dc; }

.ant-layout {
  background: transparent; }

.ant-menu {
  font-family: 'Sailec-Regular', sans-serif; }

.ant-input {
  border-radius: 0; }

.ant-layout-sider {
  background: #fff;
  height: 100%;
  left: 0;
  max-width: 200px;
  padding-top: 32px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11; }
  @media only screen and (min-width: 992px) {
    .ant-layout-sider {
      background: transparent;
      padding-top: 0;
      position: relative; } }
  .ant-layout-sider .ant-layout-sider-zero-width-trigger {
    background: #fff;
    border: 2px solid #36d1dc;
    border-radius: 0;
    box-shadow: 0 5px 4px 0 rgba(217, 217, 217, 0.25);
    color: #36d1dc;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 24px;
    top: 16px;
    transition: all .3s ease-in-out;
    width: 40px; }
    @media only screen and (min-width: 992px) {
      .ant-layout-sider .ant-layout-sider-zero-width-trigger {
        display: none; } }
  .ant-layout-sider.collapsed-true .ant-layout-sider-zero-width-trigger {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    border-radius: 50px;
    box-shadow: none;
    color: #fff; }
    .ant-layout-sider.collapsed-true .ant-layout-sider-zero-width-trigger .anticon-bars:before {
      content: "\E633"; }
  .ant-layout-sider .ant-menu-inline .ant-menu-item {
    height: 32px;
    line-height: 24px;
    overflow: visible; }
    .ant-layout-sider .ant-menu-inline .ant-menu-item > a {
      font-size: 16px;
      color: #778f9b;
      white-space: normal; }
    .ant-layout-sider .ant-menu-inline .ant-menu-item.divider {
      display: block;
      height: 64px;
      padding-top: 24px; }
      .ant-layout-sider .ant-menu-inline .ant-menu-item.divider > .item {
        font-size: 16px;
        color: #778f9b;
        border-top: 1px solid #dde2e8;
        margin-top: 8px;
        padding-top: 8px; }
    @media only screen and (min-width: 992px) {
      .ant-layout-sider .ant-menu-inline .ant-menu-item.divider {
        display: none; } }
  .ant-layout-sider .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    font-family: 'Sailec-Bold', sans-serif;
    background: transparent;
    border-right: none; }
    .ant-layout-sider .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected > a {
      color: #152230; }
  .ant-layout-sider .ant-menu-inline .ant-menu-item:after {
    border-right: none; }

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: none; }

.ant-form, .ant-input {
  font-family: 'Sailec-Regular', sans-serif; }

.ant-input-lg, .ant-btn-lg {
  height: 48px; }

.ant-input-group-addon:first-child {
  border-radius: 0; }

.ant-form-item {
  font-family: 'Sailec-Regular', sans-serif;
  margin-bottom: 32px; }
  .ant-form-item .ReactPasswordStrength {
    border: none; }
    .ant-form-item .ReactPasswordStrength.is-strength-0 .ReactPasswordStrength-strength-bar {
      background: #f20168; }
    .ant-form-item .ReactPasswordStrength.is-strength-0 .ReactPasswordStrength-strength-desc {
      color: #f20168; }
    .ant-form-item .ReactPasswordStrength.is-strength-1 .ReactPasswordStrength-strength-bar {
      background: #fc0; }
    .ant-form-item .ReactPasswordStrength.is-strength-1 .ReactPasswordStrength-strength-desc {
      color: #fc0; }
    .ant-form-item .ReactPasswordStrength.is-strength-2 .ReactPasswordStrength-strength-bar {
      background: #36d1dc; }
    .ant-form-item .ReactPasswordStrength.is-strength-2 .ReactPasswordStrength-strength-desc {
      color: #36d1dc; }
    .ant-form-item .ReactPasswordStrength.is-strength-3 .ReactPasswordStrength-strength-bar {
      background: #0bd564; }
    .ant-form-item .ReactPasswordStrength.is-strength-3 .ReactPasswordStrength-strength-desc {
      color: #0bd564; }
    .ant-form-item .ReactPasswordStrength .ReactPasswordStrength-strength-bar {
      height: 4px; }
    .ant-form-item .ReactPasswordStrength .ReactPasswordStrength-strength-desc {
      top: 48px;
      font-family: 'Sailec-Bold', sans-serif;
      font-style: normal;
      font-size: 14px;
      padding-top: 8px;
      padding-right: 0px; }
  .ant-form-item .extra-caption p {
    color: #b8c1cb;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 8px;
    text-align: right; }
    .ant-form-item .extra-caption p > a {
      font-family: 'Sailec-Bold', sans-serif; }
    .ant-form-item .extra-caption p > i {
      color: #36d1dc; }

.ant-form-item-with-help {
  margin-bottom: 24px; }

.ant-form .ant-btn {
  font-size: 12px;
  max-width: 100%; }
  @media only screen and (min-width: 768px) {
    .ant-form .ant-btn {
      font-size: 16px; } }

.ant-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 4px 0 rgba(217, 217, 217, 0.25); }

.ant-btn.ant-btn-sm {
  font-size: 12px; }

.ant-btn.btn-block {
  max-width: 100%; }

.ant-btn-primary {
  line-height: 22px;
  border-radius: 0;
  background-color: #36d1dc;
  border-color: #36d1dc;
  font-family: Sailec-Bold, serif;
  max-width: 160px;
  width: 100%; }
  .ant-btn-primary.ant-btn-background-ghost {
    border-color: #36d1dc;
    color: #36d1dc; }
  .ant-btn-primary.disabled, .ant-btn-primary[disabled] {
    background-color: #f5f5f5 !important;
    border-color: #d9d9d9 !important; }

.ant-btn-success {
  background-color: #0bd564;
  border-color: #0bd564; }
  .ant-btn-success:hover {
    background-color: #16e270;
    border-color: #0bd564; }

.card-heading {
  font-size: 16px;
  margin-bottom: 8px;
  font-family: 'Sailec-Bold', sans-serif;
  display: flex; }
  .card-heading .coming-soon {
    float: none;
    margin-left: 8px; }

.card-sub-heading {
  font-size: 12px;
  margin-bottom: 16px;
  color: #828282;
  line-height: 1.5; }
  @media only screen and (min-width: 768px) {
    .card-sub-heading {
      font-size: 14px; } }

.card-divider {
  height: 1px;
  width: 100%;
  border: 0;
  margin: 24px 0;
  border-top: 1px solid #dde2e8; }

.ant-card {
  font-family: 'Sailec-Regular', sans-serif;
  border-radius: 0px;
  padding-top: 32px;
  margin-bottom: 32px;
  min-height: 200px;
  box-shadow: 0 5px 4px 0 rgba(217, 217, 217, 0.25); }
  .ant-card.ant-card-bordered {
    border: 1px solid #d3edf1; }
  .ant-card .ant-card-head-title {
    font-size: 14px;
    font-family: 'Sailec-Bold', sans-serif;
    white-space: normal; }
  .ant-card .ant-card-extra {
    width: 30%; }
  .ant-card .instructions {
    font-size: 12px;
    padding-bottom: 12px; }

.ant-tabs-nav .ant-tabs-tab {
  font-family: 'Sailec-Regular', sans-serif;
  font-size: 14px;
  color: #828282; }
  .ant-tabs-nav .ant-tabs-tab:hover {
    color: #36d1dc; }

.ant-tabs-large .ant-tabs-tab {
  padding: 16px; }

.ant-tabs-nav .ant-tabs-tab-active {
  font-family: 'Sailec-Bold', sans-serif;
  color: #152230; }

.ant-tabs-ink-bar {
  background-color: #36d1dc; }

.ant-checkbox-wrapper {
  font-family: 'Sailec-Regular', sans-serif; }

.ant-form label {
  line-height: 1.5; }

.ant-form-item-label label {
  font-family: 'Sailec-Regular', sans-serif;
  color: #152230; }

.has-error .ant-form-explain, .has-error .ant-form-split {
  font-family: 'Sailec-Regular', sans-serif;
  padding-top: 8px; }

.ant-progress-success-bg, .ant-progress-bg {
  background-color: #0bd564; }

.ant-progress-text {
  font-size: 12px;
  font-family: 'Sailec-Regular', sans-serif; }

.ant-select-lg .ant-select-selection--single {
  border-radius: 0;
  height: 48px; }

.ant-select-lg .ant-select-selection__rendered {
  line-height: 44px; }

.ant-alert {
  font-family: 'Sailec-Regular', sans-serif;
  color: #fff; }
  .ant-alert.alert-fixed {
    align-items: center;
    animation: bounce 1s ease forwards;
    color: #fff;
    display: flex;
    font-family: 'Sailec-Bold', sans-serif;
    min-height: 64px;
    position: fixed;
    width: 100%;
    z-index: 12; }
    @media only screen and (min-width: 768px) {
      .ant-alert.alert-fixed {
        font-size: 16px;
        line-height: 48px; } }
    .ant-alert.alert-fixed .ant-alert-icon {
      color: #fff;
      top: 23px;
      margin-right: 24px; }
  .ant-alert.ant-alert-error {
    background: #f20168; }
  .ant-alert.ant-alert-warning {
    background: #fc0; }
  .ant-alert.ant-alert-success {
    background: #0bd564; }
  .ant-alert.ant-alert-info {
    background: #36d1dc; }
  .ant-alert .ant-alert-close-icon .anticon-cross {
    color: #fff;
    margin-top: 16px; }

.form-alert-container {
  margin-bottom: 24px; }
  .form-alert-container .ant-alert {
    padding: 16px;
    font-family: 'Sailec-Bold', sans-serif; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); } }

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce; }

.ant-modal {
  font-family: 'Sailec-Regular', sans-serif; }
  .ant-modal .ant-modal-header {
    padding: 24px; }
  .ant-modal .ant-modal-title {
    font-family: 'Sailec-Bold', sans-serif; }
  .ant-modal .ant-modal-content {
    border-radius: 0; }

.ant-modal-mask {
  background-color: rgba(42, 60, 80, 0.8); }

.vertical-center-modal {
  text-align: center; }

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0; }

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left; }
  .vertical-center-modal .ant-modal img {
    width: 100%; }
