.ant-popover .ant-popover-inner .ant-popover-inner-content .ant-popover-buttons .ant-btn-sm:hover, .ant-popover .ant-popover-inner .ant-popover-inner-content .ant-popover-buttons .ant-btn-sm:active, .ant-popover .ant-popover-inner .ant-popover-inner-content .ant-popover-buttons .ant-btn-sm:focus {
  border-color: #CA0000;
  color: #CA0000; }

.ant-popover .ant-popover-inner .ant-popover-inner-content .ant-popover-buttons .ant-btn-primary:hover, .ant-popover .ant-popover-inner .ant-popover-inner-content .ant-popover-buttons .ant-btn-primary:active, .ant-popover .ant-popover-inner .ant-popover-inner-content .ant-popover-buttons .ant-btn-primary:focus {
  border-color: #CA0000;
  background: #CA0000;
  color: #fff; }

.preview {
  width: 90% !important; }

.preview .ant-modal-content .ant-modal-body {
  background: transparent;
  padding: 16px 16px 16px 16px; }

@media (min-width: 1200px) {
  .preview {
    width: 60% !important; }
  .preview .ant-modal-content {
    padding-top: 16px; } }

.pending-container {
  text-align: center; }

.pending-container .head #label-summary {
  color: #595959;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Sailec-Light'; }

.pending-container .timeline {
  text-align: left;
  margin: 16px 0; }

.pending-container .timeline .ant-timeline-item .ant-timeline-item-content #view-link {
  color: #CA0000;
  text-decoration: underline; }

.pending-container .timeline .ant-timeline-item .ant-timeline-item-content .btn-track {
  margin-top: 16px;
  background: #CA0000;
  border-color: #CA0000; }

.pending-container .whatsnext {
  text-align: left; }

.pending-container .reserved-upload .ant-upload, .pending-container .reserved-upload .ant-select, .pending-container .reserved-upload .ant-input {
  margin: 8px 0 12px 0; }

.pending-container .reserved-upload .ant-select {
  width: 100%; }

.pending-container .reserved-upload .ant-select .ant-select-selection:hover, .pending-container .reserved-upload .ant-select .ant-select-selection:active, .pending-container .reserved-upload .ant-select .ant-select-selection:focus {
  border-color: #f8f8f8;
  box-shadow: 0 0 0 2px rgba(232, 232, 232, 0.2); }

.pending-container .reserved-upload .ant-input:focus {
  box-shadow: 0 0 0 2px rgba(232, 232, 232, 0.2); }

.pending-container .upload-container {
  margin: 16px 0;
  text-align: left; }

.pending-container .upload-container .ant-upload .ant-upload .check {
  padding-left: 8px;
  color: #0bd564; }

.pending-container .upload-container .ant-upload .ant-upload button {
  padding-left: 4px; }

.pending-container .upload-container .ant-upload .ant-upload button:hover, .pending-container .upload-container .ant-upload .ant-upload button:focus, .pending-container .upload-container .ant-upload .ant-upload button:active {
  color: #CA0000;
  border-color: #CA0000; }

.pending-container .upload-container #btn-submit {
  margin: 8px 0;
  border-color: #CA0000;
  background: #CA0000; }

.pending-container #btn-cancel {
  margin-top: 32px;
  border-color: #CA0000;
  color: #CA0000;
  font-size: 14px;
  background: transparent; }

.pending-container #btn-cancel:hover, .pending-container #btn-cancel:active, .pending-container #btn-cancel:focus {
  border-color: #CA0000;
  background: #CA0000;
  color: #fff; }
