@import 'src/styles/colors';
@import 'src/styles/devices';

$header-height: 80px;

.site-header {
  width: 100%;
  z-index: 100;
  position: fixed;
  &.site-header {
    background: $dead-grey;
    height: $header-height;
    line-height: $header-height;
  }

  .ant-menu {
    background: none;
    display: flex;
    justify-content: flex-end;
  }

  .ant-menu-horizontal {
    border-bottom: none;
    line-height: $header-height;
  }

  .ant-menu-item.ant-menu-item {
    border-bottom: none;
    margin-top: 0;
    top: 0;
    height: $header-height;
    padding: 0 10px;

    &.logo-container {
      flex-grow: 1;

      a {
        display: inline-block;
        height: $header-height;
      }
    }
    
    &.discover {
      a {
        display: inline-block;
        height: $header-height;
        padding: 0 16px;
        font-size: 16px;
        font-weight: 700;
        vertical-align: sub;
      }
    }
    &:hover {
      border-bottom: none;
      cursor: auto;
    }

  }

  #btn-drawer {
    height: 0;
    padding: 0;
    line-height: 0;
    border-radius: 0;
    border: none;
  }



  .logo {
    height: 75px;
    display: inline-block;
    width: auto;
    line-height: $header-height;
    vertical-align: middle;
  }

  .ant-menu-item {
    display: none;
    &.logo-container {
      display: block;
      text-align: left;
    }

    &.show-on-desktop {
      display: none;
    }
  }

  .cart {
    &:hover, &:active, &:focus {
      color: $chroma-red;
    }
  }
  @include for-tablet-landscape-up {
    .ant-menu-item {
      display: none;

      &.logo-container {
        text-align: left;
      }
    }
  }


  // show some tabs when large device
  @include for-desktop-up {
    .ant-menu-item {
       &.show-on-desktop {
        display: block;

        &.discover {
          font-size: 16px;
          font-weight: 600;
          padding: 0 32px 16px 0px;
        }
      }
      &.hide-on-desktop {
        display: none;
      }

    }
  }
  @include for-big-desktop-up {
    .ant-menu-item {
       &.show-on-desktop {
        display: block;
        &.discover {
          font-size: 16px;
          font-weight: 600;
          padding: 0 16px;

        }
      }
      &.hide-on-desktop {
        display: none;
      }
    }
  }

}

.ant-modal {
  .ant-modal-content {
    .ant-modal-body {
      background: $dead-grey;
      padding: 48px 48px 16px 48px;
    }
  }
}

 .ant-drawer-content-wrapper {
    max-width: 200px;
    width: 200px;
    background: $dead-grey;
    .ant-drawer-body {
      padding: 64px 16px 0px 16px;
      font-weight: 300;
      font-size: 16px;
      color: $chroma-red;
    }
    .ant-drawer-close{
      color: $chroma-red;
    }
  }