.not-found {
  text-align: center; }
  .not-found .ant-row-flex {
    height: 75vh; }
    .not-found .ant-row-flex .ant-col {
      top: 50%; }
  .not-found .page-title {
    font-family: 'Sailec-Bold', sans-serif;
    font-size: 4em;
    line-height: 80px;
    margin-bottom: 0; }
  .not-found .sub-title {
    margin-top: 8px;
    margin-bottom: 32px;
    color: #828282; }
  .not-found .go-back-btn {
    max-width: 200px;
    background: #CA0000;
    border-color: #f8f8f8; }
    .not-found .go-back-btn:hover {
      background: #CA0000;
      border-color: #f8f8f8; }
