.profile-art {
  padding: 16px 16px; }

.profile-art .profile-art-content .filterr {
  text-align: center;
  font-family: 'Sailec-Light';
  margin-bottom: 16px; }

.profile-art .profile-art-content .filterr #page-info {
  font-family: 'Sailec-Light';
  color: #595959;
  margin: 8px 0; }

.profile-art .profile-art-content .filterr .art-collapse-filter {
  text-align: left;
  background: #f8f8f8;
  margin-bottom: 8px; }

.profile-art .profile-art-content .filterr .art-collapse-filter .ant-collapse-content .ant-collapse-content-box .radiotype .ant-radio-wrapper {
  display: block; }

.profile-art .profile-art-content .filterr .art-collapse-filter .ant-collapse-content .ant-collapse-content-box .radiotype .ant-radio-wrapper-checked .ant-radio-checked .ant-radio-inner {
  border-color: #CA0000; }

.profile-art .profile-art-content .filterr .art-collapse-filter .ant-collapse-content .ant-collapse-content-box .radiotype .ant-radio-wrapper-checked .ant-radio-checked .ant-radio-inner::after {
  background-color: #CA0000; }

.profile-art .profile-art-content .col-items .ant-pagination {
  float: right; }

.profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-options .ant-pagination-options-size-changer .ant-select-selection:hover, .profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-options .ant-pagination-options-size-changer .ant-select-selection:active, .profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-options .ant-pagination-options-size-changer .ant-select-selection:focus-within {
  border-color: #CA0000; }

.profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-item:hover, .profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-item:focus, .profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-prev:hover, .profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-prev:focus, .profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-next:hover, .profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-next:focus {
  border-color: #CA0000; }

.profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-item a:hover, .profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-prev a:hover, .profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-next a:hover {
  color: #CA0000; }

.profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-item .ant-pagination-item-link:hover, .profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-prev .ant-pagination-item-link:hover, .profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-next .ant-pagination-item-link:hover {
  border-color: #dde2e8; }

.profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-item-active {
  border-color: #CA0000; }

.profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-item-active a {
  color: #CA0000; }

.profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-item-active a:hover, .profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-item-active a:link, .profile-art .profile-art-content .col-items .ant-pagination .ant-pagination-item-active a:focus {
  color: #CA0000; }

.profile-art .profile-art-content .col-items .artworks {
  padding: 0 16px; }

.profile-art .profile-art-content .col-items .artworks .ant-list-item {
  padding: 0 0;
  border: none;
  display: inline-flex; }

.profile-art .profile-art-content .col-items .artworks .art {
  padding-top: 0; }

.profile-art .profile-art-content .col-items .artworks .art .ant-card-body {
  text-align: left; }

.profile-art .profile-art-content .col-items .artworks .art .bottom-div .actions .ant-btn {
  border: none;
  height: 0;
  font-size: 18px;
  line-height: 0;
  border-radius: 0; }

.profile-art .profile-art-content .col-items .artworks .art .bottom-div .actions .ant-btn:hover, .profile-art .profile-art-content .col-items .artworks .art .bottom-div .actions .ant-btn:active, .profile-art .profile-art-content .col-items .artworks .art .bottom-div .actions .ant-btn:link, .profile-art .profile-art-content .col-items .artworks .art .bottom-div .actions .ant-btn:focus {
  color: inherit; }

@media only screen and (max-width: 480px) {
  .profile-art #page-info {
    display: none; }
  .profile-art .profile-art-content .filterr {
    display: none; } }

@media only screen and (max-width: 767px) and (min-width: 481px) {
  .profile-art .profile-art-content .filterr {
    display: block; }
  .profile-art .profile-art-content .ant-list-items {
    column-count: 1; } }

@media only screen and (min-width: 768px) {
  .profile-art .profile-art-content .ant-list-items {
    column-count: 2; } }

@media only screen and (min-width: 992px) {
  .profile-art .profile-art-content .ant-list-items {
    column-count: 3; } }

@media (min-width: 1800px) {
  .profile-art .profile-art-content .ant-list-items {
    column-count: 5; } }
