html,
body,
#root,
.mvp.ant-layout {
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }

.site-main.site-main {
  flex: 1 0 auto; }

.site-footer.site-footer {
  flex-shrink: 0; }

.site-content.site.content {
  min-height: 100vh; }

.site-header.site-header,
.site-content.site-content,
.site-footer.site-footer {
  padding: 0 60px; }
  @media only screen and (max-width: 767px) and (min-width: 481px) {
    .site-header.site-header,
    .site-content.site-content,
    .site-footer.site-footer {
      padding: 0 40px; } }
  @media only screen and (max-width: 480px) {
    .site-header.site-header,
    .site-content.site-content,
    .site-footer.site-footer {
      padding: 0 10px; } }
  @media only screen and (min-width: 992px) {
    .site-header.site-header,
    .site-content.site-content,
    .site-footer.site-footer {
      padding: 0 80px; } }
