.seller-faq-get-started {
  margin: 32px 0; }

@media only screen and (min-width: 992px) {
  .seller-faq-get-started {
    padding: 0 32px; } }

@media (min-width: 1200px) {
  .seller-faq-get-started {
    padding: 0 64px; } }

@media (min-width: 1800px) {
  .seller-faq-get-started {
    padding: 0 120px; } }

.seller-faq-get-started .routes {
  margin-bottom: 16px; }

.seller-faq-get-started .routes span .ant-breadcrumb-link a:hover {
  color: #CA0000; }

.seller-faq-get-started #title {
  color: #595959; }

.seller-faq-get-started .section li {
  margin-top: 8px; }

.seller-faq-get-started .section .ant-row-flex {
  background: #f8f8f8; }

.seller-faq-get-started .section .ant-row-flex .ant-col img {
  width: 100%; }

.seller-faq-get-started #more-on a {
  color: #CA0000; }

.seller-faq-get-started #more-on a:hover {
  text-decoration: underline; }
