.art-main-container {
  margin-bottom: 32px; }
  .art-main-container .art-container .ant-spin-spinning {
    position: relative;
    left: 50%; }
  .art-main-container .art-container .wishlist .ant-spin-nested-loading .ant-spin-container {
    margin-top: 16px; }
    .art-main-container .art-container .wishlist .ant-spin-nested-loading .ant-spin-container .ant-list-items .ant-list-item {
      display: inline-flex;
      border-bottom: none;
      padding: 0 0; }
      .art-main-container .art-container .wishlist .ant-spin-nested-loading .ant-spin-container .ant-list-items .ant-list-item .ant-card {
        padding-top: 0; }
        .art-main-container .art-container .wishlist .ant-spin-nested-loading .ant-spin-container .ant-list-items .ant-list-item .ant-card .ant-card-body .bottom-div .actions .ant-btn {
          border: none;
          height: 0;
          padding: 8px 6px;
          font-size: 18px;
          line-height: 0;
          border-radius: 0; }
          .art-main-container .art-container .wishlist .ant-spin-nested-loading .ant-spin-container .ant-list-items .ant-list-item .ant-card .ant-card-body .bottom-div .actions .ant-btn:hover, .art-main-container .art-container .wishlist .ant-spin-nested-loading .ant-spin-container .ant-list-items .ant-list-item .ant-card .ant-card-body .bottom-div .actions .ant-btn:active, .art-main-container .art-container .wishlist .ant-spin-nested-loading .ant-spin-container .ant-list-items .ant-list-item .ant-card .ant-card-body .bottom-div .actions .ant-btn:link, .art-main-container .art-container .wishlist .ant-spin-nested-loading .ant-spin-container .ant-list-items .ant-list-item .ant-card .ant-card-body .bottom-div .actions .ant-btn:focus {
            color: inherit; }
  .art-main-container .art-container .ant-pagination {
    float: right;
    margin: 16px 0; }
    .art-main-container .art-container .ant-pagination .ant-pagination-options .ant-pagination-options-size-changer .ant-select-selection:hover, .art-main-container .art-container .ant-pagination .ant-pagination-options .ant-pagination-options-size-changer .ant-select-selection:active, .art-main-container .art-container .ant-pagination .ant-pagination-options .ant-pagination-options-size-changer .ant-select-selection:focus-within {
      border-color: #CA0000; }
    .art-main-container .art-container .ant-pagination .ant-pagination-item:hover, .art-main-container .art-container .ant-pagination .ant-pagination-item:focus, .art-main-container .art-container .ant-pagination .ant-pagination-prev:hover, .art-main-container .art-container .ant-pagination .ant-pagination-prev:focus, .art-main-container .art-container .ant-pagination .ant-pagination-next:hover, .art-main-container .art-container .ant-pagination .ant-pagination-next:focus {
      border-color: #CA0000; }
    .art-main-container .art-container .ant-pagination .ant-pagination-item a:hover, .art-main-container .art-container .ant-pagination .ant-pagination-prev a:hover, .art-main-container .art-container .ant-pagination .ant-pagination-next a:hover {
      color: #CA0000; }
    .art-main-container .art-container .ant-pagination .ant-pagination-item .ant-pagination-item-link:hover, .art-main-container .art-container .ant-pagination .ant-pagination-prev .ant-pagination-item-link:hover, .art-main-container .art-container .ant-pagination .ant-pagination-next .ant-pagination-item-link:hover {
      border-color: #dde2e8; }
    .art-main-container .art-container .ant-pagination .ant-pagination-item-active {
      border-color: #CA0000; }
      .art-main-container .art-container .ant-pagination .ant-pagination-item-active a {
        color: #CA0000; }
        .art-main-container .art-container .ant-pagination .ant-pagination-item-active a:hover, .art-main-container .art-container .ant-pagination .ant-pagination-item-active a:link, .art-main-container .art-container .ant-pagination .ant-pagination-item-active a:focus {
          color: #CA0000; }

@media only screen and (max-width: 480px) {
  .art-main-container .art-container .wishlist {
    column-count: 1; } }

@media only screen and (max-width: 767px) and (min-width: 481px) {
  .art-main-container .art-container .wishlist {
    column-count: 2; } }

@media only screen and (min-width: 768px) {
  .art-main-container .art-container .wishlist {
    column-count: 3; } }

@media (min-width: 1200px) {
  .art-main-container .art-container .wishlist {
    column-count: 4; } }

@media (min-width: 1800px) {
  .art-main-container .art-container .wishlist {
    column-count: 5; } }
