.web-view {
  display: none; }

@media only screen and (min-width: 992px) {
  .mobile {
    display: none;
    padding: 0 0; }
  .web-view {
    display: block;
    padding: 0 0 !important;
    overflow: hidden;
    min-height: 88.91967vh !important; } }
