.transactions-container-mobile {
  padding: 16px 16px;
  margin: 16px 0; }
  .transactions-container-mobile .order-header #label {
    color: #595959;
    font-size: 24px;
    font-family: 'Sailec-Regular';
    font-weight: 600; }
  .transactions-container-mobile .order-header .search {
    margin-top: 8px; }
    .transactions-container-mobile .order-header .search .ant-input-group input:focus {
      box-shadow: 0 0 0 2px rgba(202, 0, 0, 0.001); }
    .transactions-container-mobile .order-header .search .ant-btn {
      background: #CA0000;
      border-color: #CA0000; }
  .transactions-container-mobile .order-header .ant-select {
    width: 100%;
    margin: 8px 0; }
    .transactions-container-mobile .order-header .ant-select .ant-select-selection {
      border-radius: 0;
      border: none;
      background: #e8e8e8; }
  .transactions-container-mobile .order-header .ant-select-enabled .ant-select-focused .ant-select-selection, .transactions-container-mobile .order-header .ant-select-enabled .ant-select-selection:focus, .transactions-container-mobile .order-header .ant-select-enabled .ant-select-selection:active {
    box-shadow: 0 0 0 2px rgba(202, 0, 0, 0.1); }
  .transactions-container-mobile .order-content {
    margin: 24px 0; }
    .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-header .ant-row-flex {
      color: #595959; }
    .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-content {
      background: #f8f8f8; }
      .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .expanded-row-container .invoice-items {
        margin: 16px 0; }
        .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .expanded-row-container .invoice-items .head {
          text-align: center; }
          .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .expanded-row-container .invoice-items .head #label-summary {
            color: #595959;
            font-size: 16px;
            font-weight: 600;
            font-family: 'Sailec-Light'; }
        .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .expanded-row-container .invoice-items .item-container {
          text-align: left;
          margin: 16px 0;
          padding-bottom: 8px;
          border-bottom: 1px solid #e8e8e8; }
          .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .expanded-row-container .invoice-items .item-container .thumbnail {
            width: 100%; }
          .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .expanded-row-container .invoice-items .item-container .text {
            font-size: 12px; }
          .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .expanded-row-container .invoice-items .item-container .info {
            font-size: 12px;
            padding: 0 8px; }
        .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .expanded-row-container .invoice-items .checkout-container {
          width: 100%;
          display: inline-block;
          font-size: 12px; }
          .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .expanded-row-container .invoice-items .checkout-container .checkout-info .label {
            float: left;
            margin-bottom: 2px; }
          .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .expanded-row-container .invoice-items .checkout-container .checkout-info .value {
            float: right;
            margin-bottom: 2px; }
          .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .expanded-row-container .invoice-items .checkout-container .checkout-info .grandtotal {
            font-size: 14px; }
        .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .expanded-row-container .invoice-items .del-info .ant-typography {
          font-size: 12px; }
      .transactions-container-mobile .order-content .order-body .order-main .order-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .expanded-row-container .manage-order {
        margin: 16px 0; }
    .transactions-container-mobile .order-content .order-body .order-main .paginate {
      float: right;
      margin: 16px 0; }
      .transactions-container-mobile .order-content .order-body .order-main .paginate .ant-pagination-options .ant-pagination-options-size-changer .ant-select-selection:hover, .transactions-container-mobile .order-content .order-body .order-main .paginate .ant-pagination-options .ant-pagination-options-size-changer .ant-select-selection:active, .transactions-container-mobile .order-content .order-body .order-main .paginate .ant-pagination-options .ant-pagination-options-size-changer .ant-select-selection:focus-within {
        border-color: #CA0000; }
      .transactions-container-mobile .order-content .order-body .order-main .paginate .ant-pagination-disabled a:hover, .transactions-container-mobile .order-content .order-body .order-main .paginate .ant-pagination-disabled a:active, .transactions-container-mobile .order-content .order-body .order-main .paginate .ant-pagination-disabled a:focus {
        color: #e8e8e8 !important; }
      .transactions-container-mobile .order-content .order-body .order-main .paginate .ant-pagination-item a:hover, .transactions-container-mobile .order-content .order-body .order-main .paginate .ant-pagination-prev a:hover, .transactions-container-mobile .order-content .order-body .order-main .paginate .ant-pagination-next a:hover {
        color: #CA0000; }
      .transactions-container-mobile .order-content .order-body .order-main .paginate .ant-pagination-item-active {
        border-color: #CA0000; }
        .transactions-container-mobile .order-content .order-body .order-main .paginate .ant-pagination-item-active a {
          color: #CA0000; }
          .transactions-container-mobile .order-content .order-body .order-main .paginate .ant-pagination-item-active a:hover, .transactions-container-mobile .order-content .order-body .order-main .paginate .ant-pagination-item-active a:link, .transactions-container-mobile .order-content .order-body .order-main .paginate .ant-pagination-item-active a:focus {
            color: #CA0000; }
  .transactions-container-mobile .breadcrumb {
    margin-bottom: 16px; }
    .transactions-container-mobile .breadcrumb span .ant-breadcrumb-link a:hover {
      color: #CA0000; }

.transactions-container {
  display: none;
  padding: 32px 32px; }
  .transactions-container .breadcrumb {
    margin-bottom: 16px; }
    .transactions-container .breadcrumb span .ant-breadcrumb-link a:hover {
      color: #CA0000; }
  .transactions-container .transactions-content .filters {
    margin-bottom: 24px; }
    .transactions-container .transactions-content .filters #header {
      font-size: 24px;
      font-family: 'Sailec-Regular';
      color: #595959;
      font-weight: 600; }
    .transactions-container .transactions-content .filters .search .ant-input-group input:focus {
      box-shadow: 0 0 0 2px rgba(202, 0, 0, 0.001); }
    .transactions-container .transactions-content .filters .search .ant-btn {
      background: #CA0000;
      border-color: #CA0000; }
    .transactions-container .transactions-content .filters .status-container {
      display: flex; }
      .transactions-container .transactions-content .filters .status-container .ant-select {
        width: 100%;
        margin-left: 8px; }
        .transactions-container .transactions-content .filters .status-container .ant-select .ant-select-selection {
          border-radius: 0;
          border: none;
          background: #e8e8e8; }
      .transactions-container .transactions-content .filters .status-container .ant-select-enabled .ant-select-focused .ant-select-selection, .transactions-container .transactions-content .filters .status-container .ant-select-enabled .ant-select-selection:focus, .transactions-container .transactions-content .filters .status-container .ant-select-enabled .ant-select-selection:active {
        box-shadow: 0 0 0 2px rgba(202, 0, 0, 0.2); }
    .transactions-container .transactions-content .filters #reset {
      font-family: 'Sailec-Regular';
      font-size: 14px; }
      .transactions-container .transactions-content .filters #reset:hover, .transactions-container .transactions-content .filters #reset:active, .transactions-container .transactions-content .filters #reset:focus-within {
        color: #CA0000;
        border-color: #CA0000; }
  .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin .ant-spin-dot-spin .ant-spin-dot-item {
    background: #CA0000; }
  .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-thead tr {
    background: #fff; }
    .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-thead tr th {
      color: #828282; }
    .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-thead tr .ant-table-column-has-sorters:hover, .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-thead tr .ant-table-column-has-actions:hover {
      background: #f8f8f8; }
    .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-thead tr .ant-table-column-has-sorters .ant-table-header-column .ant-table-column-sorters .ant-table-column-sorter .on, .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-thead tr .ant-table-column-has-actions .ant-table-header-column .ant-table-column-sorters .ant-table-column-sorter .on {
      color: #CA0000; }
  .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody {
    color: #595959; }
    .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody tr:hover:not(.ant-table-expanded-row) td {
      background: #f8f8f8; }
    .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-row .ant-table-row-expand-icon-cell .down {
      color: #828282; }
      .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-row .ant-table-row-expand-icon-cell .down:hover {
        color: #CA0000; }
    .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-row .ant-table-row-expand-icon-cell .up {
      color: #CA0000; }
    .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row {
      background: #f8f8f8; }
      @media (min-width: 1200px) {
        .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container {
          padding: 32px 32px; } }
      .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container .invoice-items {
        margin: 16px 0; }
        .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container .invoice-items .head {
          text-align: center; }
          .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container .invoice-items .head #label-summary {
            color: #595959;
            font-size: 16px;
            font-weight: 600;
            font-family: 'Sailec-Light'; }
        .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container .invoice-items .item-container {
          text-align: left;
          margin: 16px 0;
          padding-bottom: 8px;
          border-bottom: 1px solid #e8e8e8; }
          .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container .invoice-items .item-container .thumbnail {
            width: 100%; }
          .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container .invoice-items .item-container .text {
            font-size: 12px; }
          .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container .invoice-items .item-container .info {
            font-size: 12px;
            padding: 0 8px; }
            @media only screen and (min-width: 768px) {
              .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container .invoice-items .item-container .info {
                padding: 0 0; } }
        .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container .invoice-items .checkout-container {
          width: 100%;
          display: inline-block;
          font-size: 12px; }
          .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container .invoice-items .checkout-container .checkout-info .label {
            float: left;
            margin-bottom: 2px; }
          .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container .invoice-items .checkout-container .checkout-info .value {
            float: right;
            margin-bottom: 2px; }
          .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container .invoice-items .checkout-container .checkout-info .grandtotal {
            font-size: 14px; }
        .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container .invoice-items .del-info .ant-typography {
          font-size: 14px; }
      .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-body table .ant-table-tbody .ant-table-expanded-row .expanded-row-container .manage-order {
        margin: 16px 0; }
  .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-pagination .ant-pagination-item-active {
    border-color: #CA0000; }
    .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-pagination .ant-pagination-item-active a {
      color: #CA0000; }
  .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-pagination .ant-pagination-item a:hover {
    color: #CA0000; }
  .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-pagination .ant-pagination-next .ant-pagination-item-link:hover, .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-pagination .ant-pagination-prev .ant-pagination-item-link:hover {
    color: #CA0000; }
  .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-pagination .ant-pagination-options .ant-select .ant-select-selection:hover, .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-pagination .ant-pagination-options .ant-select .ant-select-selection:focus, .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-pagination .ant-pagination-options .ant-select .ant-select-selection:active {
    border-color: #CA0000; }
  .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-pagination .ant-pagination-options .ant-select .ant-select-selection:active {
    box-shadow: 0 0 0 2px rgba(202, 0, 0, 0.2); }
  .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-pagination .ant-pagination-options .ant-select-dropdown .ant-select-dropdown-item:active {
    background: rgba(202, 0, 0, 0.1); }
  .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-pagination .ant-pagination-options .ant-select-dropdown .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled), .transactions-container .transactions-content .table .ant-spin-nested-loading .ant-spin-container .ant-pagination .ant-pagination-options .ant-select-dropdown .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background: rgba(202, 0, 0, 0.1); }

@media only screen and (min-width: 992px) {
  .transactions-container-mobile {
    display: none; }
  .transactions-container {
    display: block; } }
