.shipping-container .checkout-steps {
  margin-top: 32px;
  width: 75%; }
  @media only screen and (max-width: 480px) {
    .shipping-container .checkout-steps {
      display: none !important; } }
  .shipping-container .checkout-steps .ant-steps-item .ant-steps-item-icon {
    display: none; }
  .shipping-container .checkout-steps .ant-steps-item-process .ant-steps-item-content .ant-steps-item-title {
    color: #CA0000;
    font-weight: 700; }

.shipping-container .ship-info {
  margin: 32px 0;
  padding: 0 16px; }
  .shipping-container .ship-info #ship-label {
    font-family: 'Sailec-Light';
    font-weight: 700;
    color: #595959;
    font-size: 24px; }
  .shipping-container .ship-info #label {
    font-family: 'Sailec-Bold';
    font-size: 14px;
    color: #595959; }
  .shipping-container .ship-info .proceed-button {
    max-width: 100%;
    width: 100%;
    background: #CA0000;
    border-color: #CA0000;
    font-size: 16px;
    margin: 16px 0; }
  .shipping-container .ship-info .acc-form {
    margin-top: 16px; }
    .shipping-container .ship-info .acc-form #label {
      font-family: 'Sailec-Bold';
      font-size: 16px;
      color: #595959;
      font-weight: 600; }
    .shipping-container .ship-info .acc-form .del-add {
      padding: 16px 16px; }
      @media only screen and (max-width: 480px) {
        .shipping-container .ship-info .acc-form .del-add .loc-container {
          display: block; } }
      @media only screen and (max-width: 767px) and (min-width: 481px) {
        .shipping-container .ship-info .acc-form .del-add .loc-container {
          display: block; } }
      .shipping-container .ship-info .acc-form .del-add .ant-form-item {
        margin-bottom: 8px; }
        .shipping-container .ship-info .acc-form .del-add .ant-form-item .ant-form-item-label label {
          color: #595959;
          font-family: 'Sailec-Light';
          font-size: 16px; }
      .shipping-container .ship-info .acc-form .del-add .form-button {
        max-width: 100%;
        width: 100%;
        background: #CA0000;
        border-color: #CA0000;
        font-size: 16px;
        margin: 16px 0; }

.shipping-container .cart-content {
  border: 1px solid #f8f8f8;
  margin: 32px 0 0 0;
  padding: 16px 16px; }
  .shipping-container .cart-content #cart-sum {
    color: #595959;
    font-family: 'Sailec-Light';
    font-weight: 600; }
  .shipping-container .cart-content .item-container {
    margin-top: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #f8f8f8; }
    .shipping-container .cart-content .item-container .thumbnail {
      width: 100%; }
    .shipping-container .cart-content .item-container .info {
      font-size: 14px;
      padding: 0 8px; }
      @media only screen and (min-width: 768px) {
        .shipping-container .cart-content .item-container .info {
          padding: 0 0; } }
  .shipping-container .cart-content .checkout-container {
    width: 100%;
    display: inline-block;
    font-size: 14px; }
    .shipping-container .cart-content .checkout-container .checkout-info .label {
      float: left;
      margin-bottom: 2px; }
    .shipping-container .cart-content .checkout-container .checkout-info .value {
      float: right;
      margin-bottom: 2px; }
    .shipping-container .cart-content .checkout-container .checkout-info .grandtotal {
      font-size: 20px; }
