.update-container .ant-menu-horizontal {
  margin-top: 16px; }
  .update-container .ant-menu-horizontal .ant-menu-item-selected {
    color: #CA0000 !important;
    border-bottom: 2px solid #CA0000 !important; }
  .update-container .ant-menu-horizontal .ant-menu-item:hover {
    color: #CA0000 !important;
    border-bottom: 2px solid #CA0000 !important; }
