.admin-main {
  display: flex;
  justify-content: center;
  align-items: center; }
  .admin-main .anticon-loading {
    color: #fff;
    font-size: 32px; }

.admin-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  background: url("/landing/sis.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat; }
