// brand colors
$aqwire-blue: #36d1dc;
$aqwire-purple: #633afc;

$chroma-red: #CA0000;
$pure-red: #e40000;
$dark-mod-red: #943636;
$cream: #feffe9;
// black & white
$white: #fff;
$black: #152230;

//states
$success: #0bd564;
$warning: #fc0;
$error: #f20168;

$orange-8: #ad4e00;
$gray-9: #262626;
// shades of gray
$dark-grey-blue: #2a3c50;
$bluish-grey: #778f9b;
$grey: #828282;
$silver: #b8c1cb;
$pale-grey: #dde2e8;
$dead-grey: #f8f8f8;
$gray-4: #e8e8e8;
$gray-8: #595959;

// white type
$bluish-white: #f7feff;
